@font-face {
    font-family: 'MyriadProBold';
    src: url('fonts/MyriadProBold.eot');
    src: url('fonts/MyriadProBold.eot') format('embedded-opentype'),
         url('fonts/MyriadProBold.woff2') format('woff2'),
         url('fonts/MyriadProBold.woff') format('woff'),
         url('fonts/MyriadProBold.ttf') format('truetype'),
         url('fonts/MyriadProBold.svg#MyriadProBold') format('svg');
}
@font-face {
    font-family: 'MyriadProLightSemiExtended_31641';
    src: url('fonts/MyriadProLightSemiExtended_31641.eot');
    src: url('fonts/MyriadProLightSemiExtended_31641.eot') format('embedded-opentype'),
         url('fonts/MyriadProLightSemiExtended_31641.woff2') format('woff2'),
         url('fonts/MyriadProLightSemiExtended_31641.woff') format('woff'),
         url('fonts/MyriadProLightSemiExtended_31641.ttf') format('truetype'),
         url('fonts/MyriadProLightSemiExtended_31641.svg#MyriadProLightSemiExtended_31641') format('svg');
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('fonts/MyriadProRegular.eot');
    src: url('fonts/MyriadProRegular.eot') format('embedded-opentype'),
         url('fonts/MyriadProRegular.woff2') format('woff2'),
         url('fonts/MyriadProRegular.woff') format('woff'),
         url('fonts/MyriadProRegular.ttf') format('truetype'),
         url('fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}
