body {
	padding: 0;
	/*background: ;*/
	font-size: 16px;
	
}

.main-container {
	max-width: 1920px;
	min-width: 600px;
	padding: 3.6%;
	margin: 0 auto;
	font-family: ARIAL;
	line-height: 0.7;
}
div {
	float: left;
	display: block;
	width: 35%;
	min-height: 18%;
	/*border: 1px solid black;*/
	padding: 0 2%;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	
}
.text{
	font-size: 75%;
	text-align: left;
	line-height: 1;
}
li {
	font-size: 200%;
	

}
.icon {	
	width: 20px;
	min-width: 20px;
	min-height: 30px;
	height: 200%;	 
	float: left;
	background: url("../icons/icons.gif") no-repeat;
	background-size: cover;
	background-origin: border-box;
	margin-right: 2%;
	margin-top: 2%;
	margin-left: 2%;
}
.icon-education {
	background-position: 58%;
}
.icon-expirience {
	background-position: 78%;
}
.icon-contact {
	background-position: 19%;
}
.icon-skills {
	background-position: 38%;
}
.icon-software {
	background-position: 99%;
}
.header-li-bold {
	color: rgb(61,108,176);
}
svg {
	width: 100%;
	height: 50%;
}

.column-2 {
	width: 55%;
	float: right;
}
.header:after {
	/*background: url("../icons/icons.gif") no-repeat center center;*/
	content: "";
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box; 
	width: 60%;
	height: 3px;
	background: #6CBD83;
	border: solid #FFF;
	border-width: 0 10px;
	margin-right: -100%;
	
}
.header {
	font-size: 130%;
	text-align: left;
	color: rgb(61,108,176);
	/*overflow: hidden;*/
}

[class^="header-li"] {
	font-size: 50%;

	
}
.header-1 {
	font-size: 100%;
	text-align: center;
}
.header-2 {
	font-size: 125%;
	font-weight: bold;
	text-align: center;
}
.header-3 {
	font-size: 80%;
	text-align: center;
	
}

/*
.color-blue {
	color: rgb(61,108,176);
}
*/